# Render Deployed Backend REST API URL
VITE_API_URL=https://spotify-quiz-backend.onrender.com

# Render Deployed Backend WebSockets URL (Same URL as REST API)
VITE_WS_URL=https://spotify-quiz-backend.onrender.com
